*{
    box-sizing: border-box;
    margin: 0;
  
}
body{
    background-color: hsl(212, 45%, 89%)
}
.container{
         max-width: 1000px;
        padding: 0 30px;
        margin: 0 auto;
    
}

.card{
   max-width: 300px;
   
   background-color: white;
   align-items: center;
   margin: 0 auto;
   /* border: 2px solid black; */
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   border-radius: 20px;
   margin-top: 45px;
   padding: 18px;
}
.card-img{
    width: 100%;
    height: 60%;
    margin: 0 auto;
    border-radius: 12px;
    background-size: cover;
    


}
.text{
    font-family: Outfit;
    color:  hsl(218, 44%, 22%);
    /* max-width: 300px;
    margin: 0 auto; */
    
}
.text h4{
    color: black;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    overflow: hidden;
    font-weight: 700;

}
.text p{
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    /* letter-spacing: ; */
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);


}